extends layout

block content
  // Main
  section#main.wrapper
    .inner
      header.major
        h2 Free trade skills education
        p
          | Our long-term vision is to build a trade school for Palestinian young people,
          | providing them with free exposure and access to skills that can offer remote employment in the global marketplace.
          | These skills include software engineering, web design, social media, and marketing.
          | We’ve started with two pilot programs in the Bethlehem area.
      // Content
      .content
        .wrapper.third
          a.image.fit.third(href='#')
            img(src='images/tech3.jpg', alt='')
          a.image.fit.third(href='#')
            img(src='images/tech1.jpg', alt='')
          a.image.fit.third(href='#')
            img(src='images/tech2.jpg', alt='')
        h3 Coding Academy
        p
          | In partnership with Jerusalem School Bethlehem, Palestine Ahliya University, and MEET,
          | we are providing four months of free coding education to 16-22 year olds from four high schools and universities in Bethlehem.
          | Upon graduation, these students will receive certificates in web development from Palestine Ahliya University
          | and the ability to pursue further education or job opportunities in software engineering.
        p
          | The students receive a rigorous coding education, taught by software engineering professionals
          | from Silicon Valley. The curriculum is split into five modules, which include the following:
        ul
          li
            | Introduction to Javascript, environment setup, and basic algorithms using data structures
          li
            | Client-side Javascript, including jQuery, React, and sending requests to external APIs
          li Server-side Javascript, including Node, Express, and databases (mySQL)
          li Individual project which utilizes both client and server-side skills
          li
            | Group project which focuses on collaboration, project planning, and code deployment
        p
          | The students attend Jerusalem School Bethlehem, Terra Sancta School for Girls, Bethlehem University, and Palestine Ahliya University.
          | We plan to host an intensive coding workshop for the month of July at Shoruq in Dheisheh Camp.
        h3 Technology Workshops
        p
          | In partnership with Shoruq, we are hosting workshops for young people interested in technology
          | and living in Dheisheh refugee camp. Our first workshop will teach problem-solving, curiosity,
          | and innovation by building a robot that responds to light, makes music, and avoids obstacles.
