extends layout

block content
  // Banner
  section#banner
    article
      img(src='images/resiliency1.jpg', alt='girls resiliency workshop')
      .inner
        h2
          a(href='#') Imagination and play
    article
      img(src='images/mindfulness2.jpg', alt='')
      .inner
        h2
          a(href='#') Mindfulness and Peacebuilding
    article
      img(src='images/tech6.jpg', alt='')
      .inner
        h2
          a(href='#') Trade Skills Education
  // One
  section#one.wrapper.major-pad
    .inner
      section.spotlight
        .content
          h2 Aida Collective was born in the summer of 2018 in Aida refugee camp, Bethlehem.
          p
            | During summer camp with 25 children from Aida and Dheisheh refugee camps,
            | we imagined a future where children could play in a safe and friendly environment,
            | where young people could find choice and opportunity in education,
            | and all could take refuge in harmonious, loving community.
        span.image
          img(src='images/aida1.jpg', alt='')
  // Three
  section#three.wrapper.style2
    .inner
      h2
        | We partner with local schools and non-governmental organizations in the West Bank in three areas of focus.
      .posts
        section.post
          span.image
            img(src='images/tech4.jpg', alt='')
          .content
            h3 Free trade skills education
            p
              | Our long-term vision is to build a trade school for Palestinian young people,
              | providing them with free exposure and access to skills that can offer remote employment in the global marketplace.
              | These skills include software engineering, web design, social media, and marketing.
              | We’ve started with two pilot programs in the Bethlehem area.
            ul.actions
              li
                a.button(href='education') Learn More
        section.post
          span.image
            img(src='images/resiliency4.jpg', alt='')
          .content
            h3 Community resiliency and healing
            p
              | We believe in the resiliency and strength of the Palestinian community.
              | In our work in the West Bank and Arab communities of Haifa,
              | we’ve witnessed the individual and collective ability to persist through conflict.
              | We build upon these strengths in teaching the Community Resiliency Model (CRM), body-based tools
              | developed in California and used throughout the world to bring the body back into balance after trauma.
            ul.actions
              li
                a.button(href='resiliency') Learn More
        section.post
          span.image
            img(src='images/mindfulness3.jpg', alt='')
          .content
            h3 Mindfulness and peacebuilding
            p
              | We believe that mindfulness and the recognition of our interbeing
              | as human beings is the path to peace. We practice with the intention
              | of opening our hearts to the reality of what is, looking deeply to
              | identify appropriate response, and acting with love and authenticity
              | towards greater peace in ourselves and in the world.
            ul.actions
              li
                a.button(href='mindfulness') Learn More

