extends layout

block content
  // Main
  section#main.wrapper
    .inner
      header.major
        h2 Mindfulness and peacebuilding
        p
          | We believe that mindfulness and the recognition of our interbeing as human beings is the path to peace.
          | We practice with the intention of opening our hearts to the reality of what is,
          | looking deeply to identify appropriate response, and acting with love and authenticity
          | towards greater peace in ourselves and in the world.
      // Content
      .content
        .wrapper.third
          a.image.fit.third(href='#')
            img(src='images/mindfulness1.jpg', alt='')
          a.image.fit.third(href='#')
            img(src='images/mindfulness5.jpg', alt='')
          a.image.fit.third(href='#')
            img(src='images/mindfulness4.jpg', alt='')
        h3 Bethlehem Sangha
        p
          | We participate in spiritual communities across Israel and Palestine,
          | and currently facilitate a sangha in Bethlehem based on the tradition of Zen Master Thich Nhat Hanh.
          | The sangha meets weekly on Friday afternoons at Holy Land Trust (underneath Jivana Café near Manger Square).
        h3 Plum Village retreats with Palestinian young people
        p
          | With much gratitude to the Plum Village monastics for their hosting and generosity,
          | we facilitate trips to the Plum Village monastery near Bordeaux, France, for Palestinian young people aged 16-20.
        p
          | This past summer, we traveled with 14 Palestinians to Paris, Plum Village, and Combe as part of an international youth conference.
          | The students participated in cultural exchange, mindfulness practice, and many outdoor activities, cultivating joy, peace, and solidity in the present moment.
