extends layout

block content
  // Main
  section#main.wrapper
    .inner
      header.major
        h2 Community resiliency and healing
        p
          | We believe in the resiliency and strength of the Palestinian community.
          | In our work in the West Bank and Arab communities of Haifa, we’ve witnessed the individual and
          | collective ability to persist through conflict. We build upon these strengths in teaching
          | the Community Resiliency Model (CRM), body-based tools developed in California
          | and used throughout the world to bring the body back into balance after trauma.
      // Content
      .content
        .wrapper.third
          a.image.fit.third(href='#')
            img(src='images/resiliency2.jpg', alt='')
          a.image.fit.third(href='#')
            img(src='images/resiliency5.jpg', alt='')
          a.image.fit.third(href='#')
            img(src='images/resiliency3.jpg', alt='')
        h3 Resiliency and Healing Workshops
        p
          | We offer the tools to non-professionals as a means of learning about the brain and nervous system,
          | coming to the understanding that symptoms of trauma are biological responses of the body
          | rather than signs of mental weakness. Through these trainings, our students become aware of
          | and can heal their own difficulties, becoming advocates and support systems for others in their communities.
        p
          | We have offered this resiliency training to five groups in Israel and Palestine,
          | and plan to commence a training in East Jerusalem later this summer.
          | The groups we’ve worked with thus far include:
        ul
          li
            | April 2019: 10-12 year old boys and girls from a Dabka dance group in Dheisheh refugee camp in Bethlehem
          li March 2019: 10-12 year old girls in Shawara, a village near Beit Sahour
          li March 2019: Christian and Muslim Palestinian women in Beit Jala
          li
            | February-April 2019: Muslim Palestinian women in Halisa, an Arab neighborhood of Haifa
          li March 2019: Social workers and mindfulness practitioners in Jerusalem
